# Prerequisites
Build/**/*.d

# Compiled Object files
Build/**/*.slo
Build/**/*.lo
Build/**/*.o
Build/**/*.obj

# Precompiled Headers
Build/**/*.gch
Build/**/*.pch

# Compiled Dynamic libraries
Build/**/*.so
Build/**/*.dylib
Build/**/*.dll

# Fortran module files
Build/**/*.mod
Build/**/*.smod

# Compiled Static libraries
Build/**/*.lai
Build/**/*.la
Build/**/*.a
Build/**/*.lib

# Executables
Build/**/*.exe
Build/**/*.out
Build/**/*.app

# Visual Studio Stuff
Build/**/*.pdb
Build/**/*.ilk
*.vcxproj.user

Premake/**
Build/**
